h1 {
    color: teal;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: 15px solid orange;
}
#spanId{
    font-size: 30px;
    margin: 50px;

